[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
alembic = "*"
flask-cors = "*"
flask-login = "*"
python-dotenv = "*"
werkzeug = "*"
wtforms = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
flask-migrate = "*"
python-dateutil = "*"
autopep8 = "*"
flask-wtf = "*"
polygon-api-client = "*"
urllib3 = "*"
polygon = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
